.main-footer{

color:#000;
background-color:rgba(192, 179, 179, 0.527);
padding-top:20px;
position: relative;
justify-content: center;
bottom:0;
width:100%;
text-align: center;


}

.container{

    display: flex;
    flex-direction: row;
    justify-content: center;
   
    
    
    }
    
.col{
    margin:50px;
    padding: 30px;
    margin-bottom: 10px;
      flex:1;
    float:left;
    padding-bottom: 20px;

    }

    .col>li{

        padding-bottom: 10px;



    }


.ul>.li{

    margin: 10px;



}

ul{

    list-style-type:none;


}
li{

    padding: 2px;
    margin: 7px;




}